@media only screen and (max-width: 768px) {

}

/* LOGIN */
.login-container {
  padding: 0px 10px; }

.login-container .login-box {
  padding-top: 10px;
  width: 100%; }

/* END LOGIN */
/* TOCIFY */
.tocify {
  display: none; }

/* END TOCIFY */
/* TIMELINE */
.timeline.timeline-right:before {
  left: 60px; }

.timeline.timeline-right .timeline-item {
  padding-left: 110px; }

.timeline.timeline-right .timeline-item.timeline-main {
  width: 60px; }

.timeline.timeline-right .timeline-item .timeline-item-icon {
  left: 40px; }

.timeline.timeline-right .timeline-item .timeline-item-info {
  top: 45px;
  width: 70px;
  left: 25px;
  padding: 7px 0px; }

/* END TIMELINE */
.post-image {
  width: 100%; }

a {
  cursor: pointer; }

#sidebar {
  font-size: 1.2rem; }

section#content {
  background-color: #fff; }

aside#sidebar {
  width: 8%;
  height: 100%;
  position: fixed;
  background-color: black; }

aside {
  padding-top: 10%; }

/* padding: 10px 10px 30px
 font-size: 1.2em
 border-bottom: 1px solid #eee*/
/* padding-bottom: 0
 line-height: 1.1em
 letter-spacing: -2px
 font-size: 2.5em*/
/* color: #C0c0c0
 font-size: 0.92em
 padding: 0px 0px 10px*/
article .article-info a {
  color: #ccc; }

li {
  margin-top: 2vh; }

.side_menu {
  color: #ffffff; }

.side {
  margin: 10% 0 0 5%; }

.glyphicon:hover {
  color: red; }

@media screen and (max-width: 740px) {
  .side_menu {
    visibility: hidden; }
  .glyphicon {
    margin-left: 20%; }
  #sidebar {
    margin-top: 20%; } }

@media screen and (max-width: 1024px) {
  .side_menu {
    visibility: hidden; }
  .glyphicon {
    margin-left: 20%; }
  #sidebar {
    margin-top: 0%; } }

.black {
  height: 100%;
  background-color: black;
  position: fixed;
  padding-top: 0;
  margin-top: 0; }

.navbar {
  z-index: 904;
  -webkit-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5); }

.navbar-light .navbar-nav > li > a {
  color: #ffffff; }

.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus {
  color: #ff1815; }

.navbar-default .navbar-nav > li > a {
  color: grey; }

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: #ff1815; }

.imag_nav {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.tog {
  cursor: pointer; }

.navbar-nav > .tog > a, .navbar-nav > li > a {
  color: #0000ff; }

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ff1815;
  background-color: #E7E7E7; }

.container-fluid {
  background-color: black;
  width: 100%;
  padding-right: 5%; }

.navbar {
  background-color: black; }

.navbar-toggle {
  background-color: yellow; }

.icon-bar {
  background-color: black; }

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;

          justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.menuleft {
  width: 10%; }

.punkt {
  margin-top: 10vh;
  margin-left: 1vw;
  color: #ffffff; }

.nav li :hover {
  background-color: #000000; }

.dropdown-item {
  background-color: white; }

.card_table {
  margin-top: 8vh;
  margin-left: 8%;
  width: 92%;
  height: 92vh;
  background-color: white;
  overflow: scroll; }

.searchin, .addin {
  width: 100%;
  background-color: rgba(153, 153, 153, 0.13);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid grey;
  height: 4vh;
  z-index: 20; }

.addth {
  text-align: center; }

.addth > span {
  margin-right: 0.5vw;
  margin-left: 0.5vw; }

.glyphicon {
  cursor: pointer; }

input::-webkit-input-placeholder {
  color: grey;
  padding-left: 0.1vw; }

.smart > th {
  text-align: center; }

.smarttable {
  margin-left: 0vw;
  margin-right: 2vw; }

.manager {
  margin-left: 2vw;
  margin-right: 10vw;
  margin-top: 10vh; }

.manager > h3 {
  margin-left: 2vw;
  margin-bottom: 2vh; }

.zero {
  width: 10%;
  text-align: center; }

.first {
  width: 3.5%; }

.second {
  width: 3.5%; }

.third {
  width: 3.5%; }

.fourth {
  width: 7.5%; }

.fifth {
  width: 9.5%; }

.sixth {
  width: 9.5%; }

.seventh {
  width: 9.5%; }

.eighth {
  width: 7.5%; }

.ninth {
  width: 10.5%; }

.tenth {
  width: 10.5%; }

.eleventh {
  width: 10.5%; }

.twelfth {
  width: 3.5%; }

.first,
.second,
.third,
.fourth,
.fifth,
.sixth,
.seventh,
.eighth,
.ninth,
.tenth,
.eleventh,
.twelfth {
  text-align: center; }

.twelfth > span {
  color: rgba(62, 62, 62, 0.48); }

span {
  cursor: pointer; }

.pagers {
  width: 100%;
  height: auto;
  text-align: center; }

#menu ul, li {
  display: inline-block; }

.smart > th {
  background-color: rgba(238, 232, 35, 0.11); }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;

          justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 1vh 1vh;
  justify-content: space-around; }

.btn-icon {
  height: 80%;
  margin-top: 1vh; }

/* =========Wizard===================*/
.fill {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.59);
  margin-top: 0;
  top: 8.5vh;
  margin-left: 0vw;
  margin-right: 0vw;
  height: 100vh;
  width: 100vw;
  position: fixed; }

.addMembers {
  margin-top: 5vh;
  margin-right: 10vw; }

.close {
  margin-left: 50%;
  padding: 0.5%; }

.example-leave-setup,
.example-enter-setup {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.example-animate-container > * {
  display: block;
  padding: 10px; }

.example-enter-setup {
  top: -50px; }

.example-enter-setup.example-enter-start {
  top: 0; }

.example-leave-setup {
  top: 0; }

.example-leave-setup.example-leave-start {
  top: 50px; }

/* WIDGETS */
.widget {
  width: 100%;
  float: left;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #FFF;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 15px 10px;
  margin-bottom: 20px;
  min-height: 120px;
  position: relative; }

.widget.widget-padding-sm,
.widget.widget-item-icon {
  padding: 10px 0px 5px; }

.widget.widget-np {
  padding: 0px; }

.widget.widget-no-subtitle {
  padding-top: 25px; }

.widget.widget-carousel {
  padding-bottom: 0px;
  padding-top: 10px; }

.widget.widget-default {
  background: #ffffff; }

.widget.widget-primary {
  background: #1b1e24;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b1e24), color-stop(100%, #101215));
  background: -webkit-linear-gradient(top, #1b1e24 0%, #101215 100%);
  background: -o-linear-gradient(top, #1b1e24 0%, #101215 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#1b1e24), to(#101215));
  background: linear-gradient(to bottom, #1b1e24 0%, #101215 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1b1e24, endColorstr=#101215, GradientType=0); }

.widget.widget-success {
  background: #95b75d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #95b75d), color-stop(100%, #89ad4d));
  background: -webkit-linear-gradient(top, #95b75d 0%, #89ad4d 100%);
  background: -o-linear-gradient(top, #95b75d 0%, #89ad4d 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#95b75d), to(#89ad4d));
  background: linear-gradient(to bottom, #95b75d 0%, #89ad4d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#95b75d, endColorstr=#89ad4d, GradientType=0); }

.widget.widget-info {
  background: #1caf9a !important; }

.widget.widget-warning {
  background: #1caf9a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1caf9a), color-stop(100%, #fe970a));
  background: -webkit-linear-gradient(top, #1caf9a 0%, #fe970a 100%);
  background: -o-linear-gradient(top, #1caf9a 0%, #fe970a 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#1caf9a), to(#fe970a));
  background: linear-gradient(to bottom, #1caf9a 0%, #fe970a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1caf9a, endColorstr=#fe970a, GradientType=0); }

.widget.widget-danger {
  background: #E04B4A;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E04B4A), color-stop(100%, #a43f3e));
  background: -webkit-linear-gradient(top, #E04B4A 0%, #a43f3e 100%);
  background: -o-linear-gradient(top, #E04B4A 0%, #a43f3e 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#E04B4A), to(#a43f3e));
  background: linear-gradient(to bottom, #E04B4A 0%, #a43f3e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E04B4A, endColorstr=#a43f3e, GradientType=0); }

.widget .widget-title,
.widget .widget-subtitle,
.widget .widget-int,
.widget .widget-big-int {
  width: 100%;
  float: left;
  text-align: center; }

.widget .widget-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 20px;
  text-transform: uppercase; }

.widget .widget-subtitle {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 15px;
  color: #EEE; }

.widget .widget-int {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  font-family: arial; }

.widget .widget-big-int {
  font-size: 42px;
  line-height: 45px;
  font-weight: 300; }

.widget .widget-item-left {
  margin-left: 10px;
  float: left;
  width: 100px; }

.widget .widget-item-right {
  margin-right: 10px;
  float: right;
  width: 100px; }

.widget.widget-item-icon .widget-item-left,
.widget.widget-item-icon .widget-item-right {
  width: 70px;
  padding: 20px 0px;
  text-align: center; }

.widget.widget-item-icon .widget-item-left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  padding-right: 10px; }

.widget.widget-item-icon .widget-item-right {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  padding-left: 10px; }

.widget .widget-item-left .fa,
.widget .widget-item-right .fa,
.widget .widget-item-left .glyphicon,
.widget .widget-item-right .glyphicon {
  font-size: 60px; }

.widget .widget-data {
  padding-left: 120px; }

.widget .widget-data-left {
  padding-right: 120px; }

.widget.widget-item-icon .widget-data {
  padding-left: 90px; }

.widget.widget-item-icon .widget-data-left {
  padding-right: 90px;
  padding-left: 10px; }

.widget .widget-data .widget-title,
.widget .widget-data-left .widget-title,
.widget .widget-data .widget-subtitle,
.widget .widget-data-left .widget-subtitle,
.widget .widget-data .widget-int,
.widget .widget-data-left .widget-int,
.widget .widget-data .widget-big-int,
.widget .widget-data-left .widget-big-int {
  text-align: left; }

.widget .widget-controls a {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 17px;
  color: #FFF;
  border: 1px solid #FFF;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  opacity: 0.4;
  filter: alpha(opacity=40); }

.widget .widget-controls a.widget-control-left {
  left: 10px;
  top: 10px; }

.widget .widget-controls a.widget-control-right {
  right: 10px;
  top: 10px; }

.widget .widget-controls a:hover {
  opacity: 1;
  filter: alpha(opacity=100); }

.widget .widget-buttons {
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 3px;
  margin-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.widget .widget-buttons a {
  position: relative;
  display: inline-block;
  line-height: 30px;
  font-size: 21px; }

.widget .widget-buttons .col {
  width: 100%;
  float: left; }

.widget .widget-buttons.widget-c2 .col {
  width: 50%; }

.widget .widget-buttons.widget-c3 .col {
  width: 33.333333%; }

.widget .widget-buttons.widget-c4 .col {
  width: 25%; }

.widget .widget-buttons.widget-c5 .col {
  width: 20%; }

.widget.widget-primary .widget-buttons a {
  color: #000000;
  border-color: #000000; }

.widget.widget-primary .widget-buttons a:hover {
  color: #000000; }

.widget.widget-success .widget-buttons a {
  color: #51672e;
  border-color: #51672e; }

.widge.widget-success .widget-buttons a:hover {
  color: #435526; }

.widget.widget-info .widget-buttons a {
  color: #eee;
  border-color: #eee; }

.widget.widget-info .widget-buttons a:hover {
  color: #fff; }

.widget.widget-warning .widget-buttons a {
  color: #a15e01;
  border-color: #a15e01; }

.widget.widget-warning .widget-buttons a:hover {
  color: #874f01; }

.widget.widget-danger .widget-buttons a {
  color: #5a2222;
  border-color: #5a2222; }

.widget.widget-danger .widget-buttons a:hover {
  color: #471b1b; }

.plugin-clock span {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
  margin-right: 2px; }

.widget.widget-default {
  color: #1b1e24; }

.widget.widget-default .widget-subtitle {
  color: #1b1e24; }

.widget.widget-default .widget-controls a {
  color: #1b1e24;
  border-color: #1b1e24; }

/* END WIDGETS */
/* START DASHBOARD */
.page-content-wrap {
  float: left;
  width: 100%;
  margin-top: 3vh; }

/* END DASHBOARD */
/* START Calendar */
.calendar {
  width: 50%;
  height: auto; }

.push-up-10 {
  margin-top: 1vh !important; }

.panel.panel-default {
  border-top-color: #F5F5F5;
  border-top-width: 1px;
  background: #F5F5F5;
  border-color: #E5E5E5; }

/* BREADCRUMB */
.breadcrumb {
  float: left;
  width: 100%;
  background: #e8e8e8;
  margin-bottom: 10px;
  padding: 6px 15px 7px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

.breadcrumb li,
.breadcrumb li a {
  font-size: 11px;
  line-height: 12px;
  color: #4d5669;
  text-decoration: none; }

.breadcrumb li:hover,
.breadcrumb li a:hover {
  color: #22262e; }

.breadcrumb li:last-child {
  color: #22262e; }

.breadcrumb > li + li:before {
  font-family: "FontAwesome";
  content: "\f105";
  color: #4d5669;
  padding: 0px 8px; }

.page-container .page-content .content-frame .content-frame-left .page-container .page-content .content-frame .content-frame-right {
  width: 100%;
  display: none; }

.page-container .page-content .content-frame .content-frame-left .page-container .page-content .content-frame .content-frame-body {
  margin-left: 0px;
  margin-right: 0px; }

.page-container .page-content .content-frame .content-frame-left .page-container .page-content .content-frame .content-frame-body.content-frame-body-left {
  margin-right: 0px; }

.page-container .page-content .content-frame .content-frame-left .page-container .page-content .content-frame .content-frame-left-toggle,
.page-container .page-content .content-frame .content-frame-left .page-container .page-content .content-frame .content-frame-right-toggle {
  display: inline-block; }

/* END BREADCRUMB */
/* END Calendar */
